.memory-game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
}

.card {
  position: relative;  
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 10px;
  font-size: 32px;
  background-color: #4a48e4;  
  cursor: pointer;  
  perspective: 1000px;
  border-radius: 10px;
}

.card .card-inner {
  position: relative;  
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;    
}

.card.flipped .card-inner{  
  transform: rotateY(180deg);
}

.card.matched {
  background-color: #8bc34a;
  pointer-events: none;
}

.card .card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .card-face-front {
  background-color: #2a49b1;
  transform: rotateY(0deg);  
  border-radius: 10px;
}

.card .card-face-back {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;  
  transform: rotateY(180deg);
  pointer-events: none;
}

.start-button {
  font-family: 'Courier-New', monospace;
  font-size: 48px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;  
  transition: all 0.3s ease;
}

.start-button:hover {
  color: #61dafb;
}

.start-button:focus {
  outline: none;
}

.bemvindo {
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;  
  text-align: center;
  top: 150px;
  color: #777;
}
